[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
plotly-express = "==0.4.0"
pycaret = "*"
ydata-profiling = "*"
streamlit-pandas-profiling = "*"
lazypredict = "*"

[dev-packages]

[requires]
python_version = "3.8"

